* {
    text-align: center;
}
* {
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: bolder;

    color: white;
    background-color: rgb(17, 76, 178);
}
img {
    height: auto;
    width: 150px;
}
